:root 
{
    font-size: 20px;
    font-family: $font;
}

html, body 
{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

body 
{
    background-color: lighten($color-primary-2, 11);
    color: #555;
    padding-bottom: 1rem;
}

.notification
{
    @extend .f-col;
    @extend .full-center;
    background-color: #FAFAFA;
    font-size: 0.6rem;
    width: 300px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 3rem;
    padding: .5rem 1rem;
    box-shadow: $box-shadow;
}

@keyframes appear
{
    0% { top: -50%; }
    30% { top: 50px; }
    70% { top: 50px; }
    100% { top: -50%; }
}

@for $var from 1 to 5 {
    h#{$var} {
        font-size: (-0.2*($var - 1) +2)*1rem;
        margin: ($var)*1rem 0;
    }
}

code 
{
    background-color: $foreground;
    color: $background;
    font-size: 0.75rem;
    padding: 0.2rem .4rem;
    border-radius: .5rem;
    font-family: "Cascadia Code", 'Courier New', Courier, monospace;
}

.discrete
{
    opacity: .5;
    font-size: .8rem;
}

.neutral , .neutral * 
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

pre
{
    line-height: 1rem;
    font-size: 0.8rem;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin : 1.5rem 0;
    font-family: $font;
    border-left: $green .3rem solid;
    box-shadow: $box-shadow;
}

.special-section
{
    padding: 1rem;
    border: solid 3px #999;
    background-color: #DDD;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    margin: 1.5rem 0;
}

.info-section 
{
    @extend .special-section;
    background-color:  lighten($blue, 40);
    border-color: $blue;
}

.warning-section 
{
    @extend .special-section;
    background-color:  lighten($color-complement-0, 10);
    border-color: $color-complement-4;
}

.danger-section 
{
    @extend .special-section;
    background-color:  lighten($red, 40);
    border-color: $red;
}

details 
{
    border: solid $color-secondary-1-0 3px ;
    border-radius: 1rem;
    padding: 1rem;
    background-color: lighten($color-secondary-1-2, 7);
    box-shadow: $box-shadow;
}

a, a:visited
{
    color: $color-secondary-1-4;
}