.form-group 
{
    @extend .f-col;
    margin-top: 1rem;
}

label
{
    margin: 0.1rem 0;
}

input[type="text"], 
input[type="password"], 
input[type="number"]
{
    font-size: .9rem;
    font-family: $font;
    padding: 0.3rem .5rem;
    border: 1px solid #CCC;
    border-radius: .5rem;
    background-color: rgba(255,255,255,.8);
    max-width: 400px;
    outline: none;
}

.button 
{
    font-size: .75rem;
    font-family: $font;
    font-weight: bold;
    padding: .5rem 1rem;
    margin: .5rem 0rem;
    width: max-content;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    background-color: #BBB;
    color: white !important;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    transition: all 200ms ease;
}

.button:hover
{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.button.green { background-color: $green; }
.button.green:hover { background-color: $light-green;}

.button.red { background-color: $red; }
.button.red:hover { background-color: $light-red;}

.button.blue { background-color: $blue; }
.button.blue:hover { background-color: $light-blue;}

.button.icon 
{
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

input[type="file"]
{
    display: none;
}