nav 
{
    @extend .f-row;
    @extend .align-center;
    padding: 1.5rem;
    background-color: $color-primary-3;
    box-shadow: $box-shadow-no-offset;
}

nav > * 
{
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    color: white !important;
}

nav h1
{
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 3px solid white ;
}

nav a 
{
    text-decoration: none;
}

nav a:hover 
{
    text-decoration: underline;
}