@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;700&display=swap');

$font: "Libre Franklin", sans-serif, monospace;

$gray : #2C2E50;


$light-green: #2ECC71;
$green : #27AE60;
$light-red: #E74C3C;
$red : #db4332;
$light-blue : #3498DB;
$blue : #2980B9;
$yellow : #F1C40F ;
$background : #FAFAFA;
$foreground : #444;



$color-primary-0: #9AADD9;	// Main Primary color */
$color-primary-1: #EFF3FC;
$color-primary-2: #C6D3EF;
$color-primary-3: #6E86BD;
$color-primary-4: #49639E;

$color-secondary-1-0: #AB9CDB;	// Main Secondary color (1) */
$color-secondary-1-1: #F2EFFC;
$color-secondary-1-2: #D1C8F0;
$color-secondary-1-3: #8471C0;
$color-secondary-1-4: #604CA2;

$color-secondary-2-0: #8DD1D1;	// Main Secondary color (2) */
$color-secondary-2-1: #ECFCFC;
$color-secondary-2-2: #BFECEC;
$color-secondary-2-3: #5DAFAF;
$color-secondary-2-4: #388E8E;

$color-complement-0: #FFE3AB;	// Main Complement color */
$color-complement-1: #FFFAF0;
$color-complement-2: #FFEFCF;
$color-complement-3: #FFD788;
$color-complement-4: #ECBD5E;



$box-shadow : 5px 5px 5px opacify($color-primary-2, 0.1), -2px -2px 5px opacify(white, .1);
$box-shadow-no-offset : 0px 5px 5px opacify($color-primary-2, 0.1);